Mail Draft Automation.json
{
  "name": "Mail Draft Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8604dbc8-9533-4dde-9e82-91681d1cc758",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1098HFEcx-rz22_ttFhMOC45p83pj-Cr2cWmxjmPuWmw",
          "mode": "list",
          "cachedResultName": "Automation Mail",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1098HFEcx-rz22_ttFhMOC45p83pj-Cr2cWmxjmPuWmw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1098HFEcx-rz22_ttFhMOC45p83pj-Cr2cWmxjmPuWmw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "24a36855-bf5b-4adf-84c3-37fa44823937",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pnqfMKI93FSNKBYk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Follow-Up On Our Recent Discussion",
        "message": "=Dear {{ $json.Name}},\nI hope this message finds you well. I wanted to follow up on our recent conversation. I appreciate the time you took to speak with me and share your insights. As discussed, Please let me know if there's anything else you need from my side to move things forward. Looking forward to your response.\nWarm regards,\nEJ Automation",
        "options": {
          "sendTo": "={{ $json['Mail IDs'] }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "6d75477d-a608-4539-823c-bdc5140d6259",
      "name": "Create a draft",
      "webhookId": "30ec8c25-93a6-43e4-bb92-99d1aae929d3",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZvbQKDix5b3h955C",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9ff73d78-67ca-4568-b725-76c81eae7aa0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0014f6159574d5a6d32ff637b744a22d6babf5dd9a117ee585233a7d5832b991"
  },
  "nodeGroups": [],
  "id": "EVxy5UbeJyFfVt5F",
  "tags": []
}